<div class="modal" id="share-modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/modals/close.svg" alt="Закрыть">
        </button>
        <ul class="social">
            <li class="li social__item">
                <a href="#" class="social__link">
                    <img src="../assets/images/modals/facebook-share.svg" alt="facebook">
                </a>
            </li>
            <li class="li social__item">
                <a href="#" class="social__link">
                    <img src="../assets/images/modals/twitter-share.svg" alt="twitter">
                </a>
            </li>
            <li class="li social__item">
                <a href="#" class="social__link">
                    <img src="../assets/images/modals/vk-share.svg" alt="VK">
                </a>
            </li>
            <li class="li social__item">
                <a href="#" class="social__link">
                    <img src="../assets/images/modals/copy-share.svg" alt="copy link">
                </a>
            </li>
        </ul>
    </div> <!--/.modal__content-->
</div> <!--/.modal-->